body {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #FFFFFF;
  color: #2d333f;
  width: 60%;
  margin-left: 60px;
}

button {
  display: block;
  border: none;
  background: inherit;
  height: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  color: #6f737b;
}


.filtersContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.mediumBold {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.checkbox {
  display: block;
  border: 1px solid #d8d9db;
  padding: 3px 8px 3px 3px;
  margin: 3px 12px 0px 0px;
  box-sizing: border-box;
  height: 90%;
}

.checkbox:hover, .checkbox.checked {
  padding: 2px 7px 2px 2px;
  border: 2px solid #da3743;
}

.averages {
  display: flex;
}

.mainStars {
  display: flex;
  align-items: center;
}

.averages > div {
  padding: 0 10px;
  border-right: 1px solid #d8d9db;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.averages > div:first-child {
  padding-left: 0;
}

.averages > div:last-child {
  border-right: none;
}


.speechBubble {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Euniversal / icon / details / small / ic_ticket copy%3C/title%3E%3Cpath d='M4.5 3.5A1.5 1.5 0 0 0 3 5v4.099a1.5 1.5 0 0 0 1.5 1.5h3.073L9.8 12.091a.5.5 0 0 0 .779-.409l.013-1.083h.908a1.5 1.5 0 0 0 1.5-1.5V5a1.5 1.5 0 0 0-1.5-1.5h-7z' stroke='%236F737B' fill='none'/%3E%3C/svg%3E");
}

.stars {
  display:flex;
  align-items: center;
  margin: 5px;
}

.mainStars .stars {
  width: 150px;
}

/*.emptyStar{
  color: #E1E1E1;
}*/

/*.fullStar{
  color: #da3743;
}
*/
.buttonRow {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.readMore {
  color: #da3743;
  margin-right: auto;
}

.readMore:hover {
  text-decoration: underline;
}

.star {
  width: 16px;
  height: 16px;
  margin: 0 3px;
  background-size: contain;
}

.fullStar{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EStar_8_%3C/title%3E%3Cpath d='M3.213 15.984c-.063 0-.104-.01-.125-.031-.104-.063-.136-.136-.094-.219l.876-5.516L.083 6.331C0 6.247-.021 6.164.021 6.08c.021-.063.083-.115.188-.157l5.256-.783L7.781.125C7.864.042 7.937 0 8 0c.104 0 .177.042.219.125l2.347 5.015 5.226.784a.282.282 0 0 1 .188.157c.041.083.02.166-.063.25l-3.786 3.886.907 5.516a.297.297 0 0 1-.094.219c-.104.063-.188.063-.25 0L8 13.383l-4.662 2.57c-.021.021-.063.031-.125.031z' fill='%23DA3743'/%3E%3C/svg%3E");
}

.threeQuarterStar {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Estar-threequarter%3C/title%3E%3Cg fill='none'%3E%3Cpath d='M3.213 15.984c-.063 0-.104-.01-.125-.031-.104-.063-.136-.136-.094-.219l.876-5.516L.083 6.331C0 6.247-.021 6.164.021 6.08c.021-.063.083-.115.188-.157l5.256-.783L7.781.125C7.864.042 7.937 0 8 0c.104 0 .177.042.219.125l2.347 5.015 5.226.784a.282.282 0 0 1 .188.157c.041.083.02.166-.063.25l-3.786 3.886.907 5.516a.297.297 0 0 1-.094.219c-.104.063-.188.063-.25 0L8 13.383l-4.662 2.57c-.021.021-.063.031-.125.031z' fill='%23E1E1E1'/%3E%3Cpath d='M5.465 5.14l-5.256.784c-.105.041-.167.094-.188.156-.042.084-.021.167.062.251l3.786 3.886-.876 5.516c-.042.084-.01.157.094.219.021.021.063.031.125.031s.104-.01.125-.031L8 13.383l2 1.095V3.931L8.219.125C8.177.042 8.104 0 8 0c-.063 0-.136.042-.219.125L5.465 5.14z' fill='%23DA3743'/%3E%3C/g%3E%3C/svg%3E");
}

.halfStar {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Estar-half%3C/title%3E%3Cg fill='none'%3E%3Cpath d='M3.213 15.984c-.063 0-.104-.01-.125-.031-.104-.063-.136-.136-.094-.219l.876-5.516L.083 6.331C0 6.247-.021 6.164.021 6.08c.021-.063.083-.115.188-.157l5.256-.783L7.781.125C7.864.042 7.937 0 8 0c.104 0 .177.042.219.125l2.347 5.015 5.226.784a.282.282 0 0 1 .188.157c.041.083.02.166-.063.25l-3.786 3.886.907 5.516a.297.297 0 0 1-.094.219c-.104.063-.188.063-.25 0L8 13.383l-4.662 2.57c-.021.021-.063.031-.125.031z' fill='%23E1E1E1'/%3E%3Cpath d='M7.781.125L5.465 5.14l-5.256.784c-.105.041-.167.094-.188.156-.042.084-.021.167.062.251l3.786 3.886-.876 5.516c-.042.084-.01.157.094.219.021.021.063.031.125.031s.104-.01.125-.031L8 13.383V0c-.063 0-.136.042-.219.125z' fill='%23DA3743'/%3E%3C/g%3E%3C/svg%3E");
}

.quarterStar {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Estar-quarter%3C/title%3E%3Cg fill='none'%3E%3Cpath d='M3.213 15.984c-.063 0-.104-.01-.125-.031-.104-.063-.136-.136-.094-.219l.876-5.516L.083 6.331C0 6.247-.021 6.164.021 6.08c.021-.063.083-.115.188-.157l5.256-.783L7.781.125C7.864.042 7.937 0 8 0c.104 0 .177.042.219.125l2.347 5.015 5.226.784a.282.282 0 0 1 .188.157c.041.083.02.166-.063.25l-3.786 3.886.907 5.516a.297.297 0 0 1-.094.219c-.104.063-.188.063-.25 0L8 13.383l-4.662 2.57c-.021.021-.063.031-.125.031z' fill='%23E1E1E1'/%3E%3Cpath d='M6 3.982L5.465 5.14l-5.256.784c-.105.041-.167.094-.188.156-.042.084-.021.167.062.251l3.786 3.886-.876 5.516c-.042.084-.01.157.094.219.021.021.063.031.125.031s.104-.01.125-.031L6 14.485V3.982z' fill='%23DA3743'/%3E%3C/g%3E%3C/svg%3E");
}

.emptyStar {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Estar-empty%3C/title%3E%3Cpath d='M3.213 15.984c-.063 0-.104-.01-.125-.031-.104-.063-.136-.136-.094-.219l.876-5.516L.083 6.331C0 6.247-.021 6.164.021 6.08c.021-.063.083-.115.188-.157l5.256-.783L7.781.125C7.864.042 7.937 0 8 0c.104 0 .177.042.219.125l2.347 5.015 5.226.784a.282.282 0 0 1 .188.157c.041.083.02.166-.063.25l-3.786 3.886.907 5.516a.297.297 0 0 1-.094.219c-.104.063-.188.063-.25 0L8 13.383l-4.662 2.57c-.021.021-.063.031-.125.031z' fill='%23E1E1E1'/%3E%3C/svg%3E");
}


.pink {
  background-color: #DF4E96;
}

.blue {
  background-color: #6C8AE4;
}

.orange {
  background-color: #D86441;
}

.violet {
  background-color: #BB6ACC;
}

.statsContainer{
  display: flex;
  padding-bottom: 2rem;
  align-items: flex-start;
  border-bottom: 1px solid #d8d9db;
}

.overallContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  justify-content: flex-start;

}

.overallContainer > div {
  margin-bottom: 7px;
}


.peopleAreSaying{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  color: #2d333f;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 1rem;
  margin: 0 0 1rem;
  display: flex;
  justify-content: space-between;
}

.reviewContainer{
  margin-top: 10px;
  line-height: 1em;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 15px;
}

.reviewAndUser {
  display: flex;

}



.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.userInfo > div {
  margin: 0.4rem 0;
}

.userIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #ffffff;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncated{
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emptyStar, .fullStar {
  padding: 3px;
}




.review{
  flex: 3;
  
}

.barChart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barContainer {
  display: flex;
  width: 100%;
  max-width: 300px;
  min-height: 10px;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 15px;

}

.barContainer:hover{
  text-decoration: underline;
}

.reportIcon, .helpfulIcon, .speechBubble {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: contain;
  color: #2d333f;
  margin-right: 0.3em;
}

.reportIcon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='background:%23fff'%3E%3Ctitle%3Eicon/ic_report%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath d='M6 2v19a1 1 0 0 1-2 0V4a2 2 0 0 1 2-2z' fill='%23333'/%3E%3Cpath d='M5 13h12.773L13.33 8l4.444-5H6a1 1 0 0 0-1 1v9z' stroke='%236f737b' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E")
}

.helpfulIcon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='background:%23fff'%3E%3Ctitle%3Eicon/ic_upvote%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cg transform='translate(3 3)'%3E%3Cg transform='translate(5 4)' fill='%236f737b'%3E%3Crect x='3' y='1.5' width='2' height='8' rx='.5'/%3E%3Cg transform='rotate(45 1.414 5.121)'%3E%3Crect transform='matrix(-1 0 0 1 5 0)' width='5' height='2' rx='.5'/%3E%3Crect transform='matrix(-1 0 0 1 2 0)' width='2' height='5' rx='.5'/%3E%3C/g%3E%3C/g%3E%3Crect stroke='%236f737b' stroke-width='2' x='1' y='1' width='16' height='16' rx='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.barBackground {
  border: 1px solid #d8d9db;
  height: 15px;
  width: 100%;
  min-height: 15px;
  margin: 5px 0 5px 10px;
  display: block;
  box-sizing: border-box;
}

.barForeground {
  background-color: #da3743;
  height: 100%;
  margin: 0;
  padding: 0;
}

.barContainer:hover .barBackground{
  border: 2px solid #da3743;
}
