.review{
  line-height: 1em;
}

.truncated{
  max-height: 4em;
  overflow: hidden;
}



.reviews{
  width: 60%;
  margin-left: 60px;
}

.barBackground {
  border: 1px solid black;
  height: 15px;
  width: 100px;
  margin: 5px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 5px;
}

.barForeground {
  background-color: red;
  height: 100%;
}

.barBackground:hover{
  border: 2px solid red;
}
